<template name="landing">
    
     <div class="iconcontainer">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-education"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Digital Lecture</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-folder-open"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Relevant Discussions</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
            </p>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-book"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Competitive Material</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-blackboard"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Digital Tools</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
            </p>
            
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-signal"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Quiz and Feedback</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
            </p>
            
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-comment"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Direct Chat</h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti atque, tenetur quam aspernatur corporis at explicabo nulla dolore necessitatibus doloremque exercitationem sequi dolorem architecto perferendis quas aperiam debitis dolor soluta!
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>

    
  


</template>