<template name="newPost">
    <form class="new-post">
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" class="form-control" name="title"
                           placeholder="Subject"/>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                        <textarea class="form-control" name="content"
                                  placeholder="Content" rows="5"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <br/>
            <div class="form-group">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-default add-post">Say</button>
                </div>
            </div>
        </div>
    </form>
</template>