<template name="postRow">
    {{#with post}}
        <div class="row">
            <div class="col-md-1 center-text">
                <div class="row">
                    <i class="fa fa-arrow-up upvote-post"></i>
                </div>
                <div class="row">
                    {{numDifference}}
                </div>
                <div class="row">
                    <i class="fa fa-arrow-down downvote-post"></i>
                </div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <a href="/post/{{_id}}"><h4>{{title}}</h4></a>
                </div>
            </div>
            {{#if ../showContent}}
                <div class="row">
                    {{content}}
                </div>
            {{else}}
                <div class="row">
                    <a href="/post/{{_id}}"><label>View Discussion</label></a>
                </div>
            {{/if}}
        </div>
    {{/with}}
</template>