<template name="study_material">

<div class="col-md-12">

    <h3>Course Materials</h3>
    <br>
    <button>Upload new Document package</button>
    <p>Make this feature role specific and the form bounds to uploaded-img/immer-img, then additional filing accesible by /_id and as add inputs. </p>
    
    <div class="uploaded-doc">
                        <div class="row">
                            
                            <div class="col-md-2 col-sm-4 padding15">
                            	<div class="uploaded-img">
                                	<a href="">
                                	<img src="https://infograins.com/INFODE/pankaj/dj/inner-box.png">
                                    <div class="immer-img">
                                    	<img src="https://infograins.com/INFODE/pankaj/dj/box.png">
                                    </div>
                                    <div class="position-absulute">
                                        <div class="paper-doc1 paper-doc">On Hover Click</div>
                                        <div class="paper-doc2 paper-doc">On Hover Click</div>
                                        <div class="paper-doc3 paper-doc">On Hover Click</div>
                                    </div>
                                    <div class="abslt-text">
                                    	<h4>Course Overviews</h4>
                                        <p>Course #</p>
                                        <span>5 Documents</span>
                                    </div>
                                </a>
                                </div>
                            </div>
                            
                            
                            <div class="col-md-2 col-sm-4 padding15">
                            	<div class="uploaded-img">
                                	<a href="">
                                	<img src="https://infograins.com/INFODE/pankaj/dj/inner-box.png">
                                    <div class="immer-img">
                                    	<img src="https://infograins.com/INFODE/pankaj/dj/box.png">
                                    </div>
                                    <div class="position-absulute">
                                        <div class="paper-doc1 paper-doc">On Hover Click</div>
                                        <div class="paper-doc2 paper-doc">On Hover Click</div>
                                        <div class="paper-doc3 paper-doc">On Hover Click</div>
                                    </div>
                                    <div class="abslt-text">
                                        <h4>Chapter 1</h4>
                                        <p>Title</p>
                                        <span>7 Document</span>
                                    </div>
                                </a>
                                </div>
                            </div>
                            
                            
                            
                            <div class="col-md-2 col-sm-4 padding15">
                                <div class="uploaded-img">
                                	<a href="">
                                	<img src="https://infograins.com/INFODE/pankaj/dj/inner-box.png">
                                    <div class="immer-img">
                                    	<img src="https://infograins.com/INFODE/pankaj/dj/box.png">
                                    </div>
                                    <div class="position-absulute">
                                        <div class="paper-doc1 paper-doc">On Hover Click</div>
                                        <div class="paper-doc2 paper-doc">On Hover Click</div>
                                        <div class="paper-doc3 paper-doc">On Hover Click</div>
                                    </div>
                                    <div class="abslt-text">
                                        <h4>Chapter 2</h4>
                                        <p>Title</p>
                                        <span>12 Document</span>
                                    </div>
                                </a>
                                </div>
                            </div>
                            
                            
                            
                            <div class="col-md-2 col-sm-4 padding15">
                                <div class="uploaded-img">
                                	<a href="">
                                	<img src="https://infograins.com/INFODE/pankaj/dj/inner-box.png">
                                    <div class="immer-img">
                                    	<img src="https://infograins.com/INFODE/pankaj/dj/box.png">
                                    </div>
                                    <div class="position-absulute">
                                        <div class="paper-doc1 paper-doc">On Hover Click</div>
                                        <div class="paper-doc2 paper-doc">On Hover Click</div>
                                        <div class="paper-doc3 paper-doc">On Hover Click</div>
                                    </div>
                                    <div class="abslt-text">
                                        <h4>Chapter 3</h4>
                                        <p>Title</p>
                                        <span>17 Document</span>
                                    </div>
                                </a>
                                </div>
                            </div>
                            
                            
                            
                            <div class="col-md-2 col-sm-4 padding15">
                                <div class="uploaded-img">
                                	<a href="">
                                	<img src="https://infograins.com/INFODE/pankaj/dj/inner-box.png">
                                    <div class="immer-img">
                                    	<img src="https://infograins.com/INFODE/pankaj/dj/box.png">
                                    </div>
                                    <div class="position-absulute">
                                        <div class="paper-doc1 paper-doc">On Hover Click</div>
                                        <div class="paper-doc2 paper-doc">On Hover Click</div>
                                        <div class="paper-doc3 paper-doc">On Hover Click</div>
                                    </div>
                                    <div class="abslt-text">
                                        <h4>Chapter 4</h4>
                                        <p>Title</p>
                                        <span>4 Document</span>
                                    </div>
                                </a>
                                </div>
                            </div>
                            
                        
                            
                        </div>
                    </div>
</div>

<hr>
    

</template>

